@import url('https://fonts.cdnfonts.com/css/matrix');
@import url('https://fonts.cdnfonts.com/css/glitch');

* {
    margin: 0;
    padding: 0;
}
html {
    background-image: url('https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif');
}
.cabecalho {
    padding: 0px;
    gap: 40px;
}

.cabecalho-imagem {
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.titulo-pagina {
    font-family: 'Matrix', sans-serif;
    color: green;
    text-align: center;
}

.conteudo {
    font-family: 'GLITCH', sans-serif;
    padding: 120px 240px;
    display: flex;
    flex-direction: row;
    gap: 160px;
    justify-content: center;
}


.conteudo-entrada-texto {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-family: 'GLITCH', sans-serif;
    height: 600px;
    width: 680px;
    background-color: rgb(1, 1, 1);
    color: rgb(0, 255, 0);
    font-size: 24px;
    resize: none;
    outline: none;
    border-color: black;
    border-radius: 20px;
    padding: 10px 15px 15px 15px;
}

.conteudo-entrada-aviso {
    color: rgb(91, 91, 95);
    padding: 2%;
}

.conteudo-saida-texto {
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-family: 'GLITCH', sans-serif;
    padding: 0%;
    height: 600px;
    width: 400px;
    background-color: rgb(1, 1, 1);
    color: rgb(0, 255, 0);
    border-color: black;
    border-radius: 20px;
    font-size: 24px;
    text-indent: 10px;
    resize: none;
    outline: none;
    padding: 10px 15px 15px 15px;
}

.botoes{
    padding: 1.5%;
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 680px;
    height: 60px;
    justify-content: center;
}

.botao-criptografa {
    margin: auto;
    font-size: 24px;
    padding: 12px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: green;
    border-radius: 24px;
    border: none;
    color: black;
}

.botao-descriptografa {
    font-size: 24px;
    padding: 12px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: black;
    border: 2px solid green;
    border-radius: 24px;
    color: white;
}