* {
    margin: 0;
    padding: 0;
}
html {
    background-image: url('https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif');
}
.cabecalho {
    padding: 0px;
    gap: 40px;
}

.cabecalho-imagem {
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.conteudo {
    padding: 120px 240px;
    display: flex;
    flex-direction: row;
    gap: 160px;
}


.conteudo-entrada-texto {
    height: 600px;
    width: 680px;
    background-color: rgb(1, 1, 1);
    color: rgb(0, 255, 0);
    font-size: 24px;
    resize: none;
    outline: none;
    border-color: black;
    border-radius: 20px;
    text-indent: 10px;
    text-overflow: clip;
}

.conteudo-saida {
    display: flex;
    flex-direction: column;
}

.conteudo-saida-texto {
    padding: 0%;
    height: 600px;
    width: 400px;
    background-color: rgb(1, 1, 1);
    color: rgb(0, 255, 0);
    border-color: black;
    border-radius: 20px;
    font-size: 32px;
    resize: none;
    outline: none;
}

.botoes{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 24px;

    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.botao-criptografa {
    margin: auto;
    font-size: 24px;
    padding: 12px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: green;
    border-radius: 24px;
    border: none;
    color: black;
}

.botao-descriptografa {
    font-size: 24px;
    padding: 12px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: black;
    border: 2px solid green;
    border-radius: 24px;
    color: white;
}